
@font-face {
    font-family: 'starjedi';
    src: url(fonts/Starjedi.ttf);
}


body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    
}

#hero {
    height:100%;
    background-image: url("images/stars.webp");
    background-size: cover;
    padding-bottom: 10;
   
}

h1 {
    color: white;
    text-align: center;
    font-family: 'starjedi';
    text-shadow: 3px 0px 3px grey;
    
}

.outline-text {
    -webkit-text-fill-color: #005288;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}

.orbitron-font {
    font-family: 'Orbitron', sans-serif;
}

.starjedi-font {
    font-family: 'starjedi', sans-serif;
}

.apply-btn {
    display: block;
    color: white;;
    background-color: #005288;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 2px;
    width: 150px;
    font-weight: normal;
    padding: 10px 12px;
    font-size: 16px;
    
}

.underline {
    border-bottom: 3px solid #f1f1f1;
}

#spacex-logo {
   margin-top: 19px;
    width: 250px;
    
}

